    <!-- Sidebar -->
<div id="sidebar">
      <header>
        <a href="#">Watch</a>
      </header>
      <ul class="nav">
        <li>
          <a href="#">
            <i class="zmdi zmdi-view-dashboard"></i> Trending
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-link"></i> Free to watch
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-widgets"></i> Chill out
          </a>
        </li>
      </ul>
      <header>
        <a href="#">Collection</a>
      </header>
      <ul class="nav">
        <li>
          <a href="#">
            <i class="zmdi zmdi-view-dashboard"></i> Feel good
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-link"></i> Oscar film
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-widgets"></i> Recommended
          </a>
        </li>
      </ul>
  </div>