
<div id="sidebar">
      <header>
        <a href="#">Watch</a>
      </header>
      <ul class="nav">
        <li>
          <a href="#">
            <fa-icon [icon]="faHotjar"></fa-icon> Trending
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fa fa-star"></span> Free to watch
          </a>
        </li>
        <li>
          <a href="#">
            <fa-icon [icon]="faEye"></fa-icon> Chill out
          </a>
        </li>
      </ul>
      <header>
        <a href="#">Collection</a>
      </header>
      <ul class="nav">
        <li>
          <a href="#">
            <fa-icon [icon]="faGlobeAsia"></fa-icon>Asian Film
          </a>
        </li>
        <li>
          <a href="#">
            <fa-icon [icon]="faAward"></fa-icon> Oscar film
          </a>
        </li>
        <li>
          <a href="#">
            <fa-icon [icon]="faThumbsUp"></fa-icon> Recommended
          </a>
        </li>
      </ul>
    </div>