<div class="row">
    <p class="">Hei It's actually working</p>
    <div *ngFor="let movie of movies; let i = index" class="row row-cols-4">
        <div class="card" style="width: 18rem;">
            <img src="{{ movie.imagePath }}" class="img-responsive" alt="Card image cap">
            <div class="card-body">
             <hr>
              <h5 class="card-title">{{ movie.name }}</h5>
              <p class="card-text">{{ movie.description }}</p>
            </div>
          </div>
    </div>    
</div>
