<div>
  <h1>My Watchlist</h1>
    <div *ngFor="let movieEl of movies; let i = index" [movie]="movieEl" [index]="i" class="container row row-cols-4">
        <div>
          <img src="{{ movieEl.imagePath }}" alt="Card image cap" style="height: 270px; border-radius: 10px; ">
            
        </div>
        <div>
          <h5>{{ movieEl.name }}</h5>
          <p>{{ movieEl.description }}</p>
          <div>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <div class="row">
          <button type="button" class="btn btn-light btn-circle btn-sm"><span class= "fa fa-play fa-2x"></span></button>
          <button type="button" class="btn btn-light btn-circle btn-sm"><span class= "fa fa-trash fa-2x"></span></button>
          <button type="button" class="btn btn-light btn-circle btn-sm"><span class= "fa fa-bookmark fa-2x"></span></button>
          <button type="button" class="btn btn-light btn-circle btn-sm"><span class= "fa fa-star fa-2x"></span></button>
        </div>
  </div>       
</div>
